<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="double_robotiq_gripper_90">

    <xacro:macro name="double_robotiq_gripper_90" params="
        parent
        prefix
        *origin
        use_fake_hardware:=false
        fake_sensor_commands:=false
        use_sim:=false
        com_port_left:=/dev/ttyUSB0
        com_port_right:=/dev/ttyUSB1">

        <xacro:property name="PI" value="3.14159"/>

        <xacro:arg name="grip_pos_min" default="0"/>
        <xacro:arg name="grip_pos_max" default="0.025"/>
        <xacro:arg name="baudrate" default="115200"/>
        <xacro:arg name="parity" default="N"/>
        <xacro:arg name="data_bits" default="8"/>
        <xacro:arg name="stop_bit" default="1"/>
        <xacro:arg name="slave_id" default="9"/>

        <xacro:include filename="$(find link6_description)/urdf/robotiq_hande_cutter.xacro"/>

        <link name="${prefix}double_gripper_90_degrees_angle_bracket"></link>

        <joint name="${prefix}double_gripper_90_degrees_angle_bracket_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${prefix}double_gripper_90_degrees_angle_bracket"/>
            <xacro:insert_block name="origin" />
        </joint>

        <link name="${prefix}double_gripper_mount_link"></link>

        <joint name="${prefix}double_gripper_mount_joint" type="fixed">
            <origin xyz="0 0.0255 0.063" rpy="${PI/2} 0 0"/>
            <parent link="${prefix}double_gripper_90_degrees_angle_bracket"/>
            <child link="${prefix}double_gripper_mount_link"/>
        </joint>

        <link name="${prefix}left_gripper_link"/>
        <link name="${prefix}right_gripper_link"/>

        <joint name="${prefix}left_gripper_joint" type="fixed">
            <origin xyz="-0.042 0 0.036" rpy="0 -${PI/6} 0"/>
            <parent link="${prefix}double_gripper_mount_link"/>
            <child link="${prefix}left_gripper_link"/>
        </joint>

        <joint name="${prefix}right_gripper_joint" type="fixed">
            <origin xyz="0.042 0 0.036" rpy="0 ${PI/6} 0"/>
            <parent link="${prefix}double_gripper_mount_link"/>
            <child link="${prefix}right_gripper_link"/>
        </joint>

        <!-- Include left gripper -->
        <xacro:robotiq_hande_gripper
            name="LeftRobotiqGripperHardwareInterface"
            prefix="${prefix}left_"
            parent="${prefix}left_gripper_link"
            grip_pos_min="$(arg grip_pos_min)"
            grip_pos_max="$(arg grip_pos_max)"
            tty_port="${gripper_com_port_left}"
            baudrate="$(arg baudrate)"
            parity="$(arg parity)"
            data_bits="$(arg data_bits)"
            stop_bit="$(arg stop_bit)"
            slave_id="$(arg slave_id)"
            use_fake_hardware="${use_fake_hardware}"
            include_ros2_control="${sim_gazebo}"
            sim_gazebo="${sim_gazebo}"
            xyz="0 0 0"
            rpy="0 0 ${PI}"
        />

        <!-- Include right gripper -->
        <xacro:robotiq_hande_gripper
            name="RightRobotiqGripperHardwareInterface"
            prefix="${prefix}right_"
            parent="${prefix}right_gripper_link"
            grip_pos_min="$(arg grip_pos_min)"
            grip_pos_max="$(arg grip_pos_max)"
            tty_port="${gripper_com_port_right}"
            baudrate="$(arg baudrate)"
            parity="$(arg parity)"
            data_bits="$(arg data_bits)"
            stop_bit="$(arg stop_bit)"
            slave_id="$(arg slave_id)"
            use_fake_hardware="${use_fake_hardware}"
            include_ros2_control="${sim_gazebo}"
            sim_gazebo="${sim_gazebo}"
            xyz="0 0 0"
            rpy="0 0 ${PI}"
        />

    </xacro:macro>
</robot>
