<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="link6">

    <!-- Arguments -->
    <xacro:arg name="robot_ip" default="192.168.1.10" />
    <xacro:arg name="username" default="admin" />
    <xacro:arg name="password" default="admin" />
    <xacro:arg name="port" default="10000" />
    <xacro:arg name="sim_gazebo" default="false" />
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="use_fake_hardware" default="false" />
    <xacro:arg name="fake_sensor_commands" default="false" />
    <xacro:arg name="gripper_com_port" default="/dev/ttyUSB0" />

    <xacro:include filename="$(find link6_description)/urdf/link6_macro.xacro" />
    <!-- initial position for simulations (Mock Hardware, Gazebo) -->
    <xacro:arg name="initial_positions_file"
        default="$(find link6_description)/config/initial_positions.yaml" />
    <!-- convert to property to use substitution in function -->
    <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)" />

    <link name="world" />

    <xacro:link6
        parent="world"
        prefix="$(arg prefix)"
        gripper="$(arg gripper)"
        robot_ip="$(arg robot_ip)"
        username="$(arg username)"
        password="$(arg password)"
        use_fake_hardware="$(arg use_fake_hardware)"
        fake_sensor_commands="$(arg fake_sensor_commands)"
        sim_gazebo="$(arg sim_gazebo)"
        initial_positions="${xacro.load_yaml(initial_positions_file)}">
        <origin xyz="0 0 0" rpy="0 0 0" />  <!-- position robot in the world -->
    </xacro:link6>

    <!-- Include and load the gripper -->
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro" />

    <xacro:robotiq_gripper
        name="RobotiqGripperHardwareInterface"
        parent="$(arg prefix)end_effector_link"
        prefix="$(arg prefix)"
        use_fake_hardware="$(arg use_fake_hardware)"
        fake_sensor_commands="$(arg fake_sensor_commands)"
        include_ros2_control="$(arg sim_gazebo)"
        com_port="$(arg gripper_com_port)"
        sim_ignition="$(arg sim_gazebo)">
        <origin xyz="0 0 0" rpy="0 0 3.14159" />
    </xacro:robotiq_gripper>

    <link name="$(arg prefix)tool_frame"></link>
    <joint name="$(arg prefix)tool_frame_joint" type="fixed">
        <origin xyz="0 0 0.12" rpy="0 0 0"/>
        <parent link="$(arg prefix)robotiq_85_base_link"/>
        <child link="$(arg prefix)tool_frame"/>
    </joint>

    <xacro:if value="$(arg sim_gazebo)">
        <gazebo>
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find link6_control)/config/kortex3_controllers.yaml</parameters>
                <controller_manager_node_name>controller_manager</controller_manager_node_name>
            </plugin>
        </gazebo>
    </xacro:if>
</robot>